<h2>SRT Wiki Admin Dashboard</h2>
<p>Welcome to the dashboard for the SRT speedrunning wiki's admin area. The links above will let you
move between areas to modify or delete them. If any assistance is needed beyond what is available in this
area, please contact the webmaster.</p>

<p>Currently markdown is supported in all large text entry boxes, but an advanced editor isn't available.</p>