<h1>Guides</h1>
<% @games.each do |game|%>
  <h3> <%= game.name %> </h3>
    <% game.categories.each do |category| %>
      <div>
        <h5><%= category.name %></h5>
          <ul>
            <% category.guides.each do |guide| %>
              <li><%= link_to guide.name, [:admin, guide] %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
<% end %>
<%= link_to 'New Guide', new_admin_guide_path %>