<h1>Categories</h1>
<% @games.each do |game| %>
 <div>
  <h3><%= game.name %></h3>
    <ul>
      <% game.categories.each do |category| %>
        <li><%= link_to category.name, [:admin, category] %></li>
      <% end %>
     </ul>
  </div>
<% end %>